.wall {
  display: block;
  background-color: azure;
  padding-top: 20px;
  margin: auto;
}
.loginform {
  color: black;
  padding: 60px;
  border: 5px solid black;
  text-shadow: 4px 3px 4px gray;
  box-shadow: 0 0 20px;
  font-size: 20px;
  width: 650px;
  margin-left: 70px;
}
.add {
  border: 6px solid green;
  color: blue;
}
.updating {
  gap: 20px;
  border: 6px solid green;
  color: blue;
}
