<div class='flex-container'>

    <div class='flex-item'>
    <ngb-carousel>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.1.jpeg" alt="Random first slide">
      <div class="carousel-caption">
        <p>This is chennai Taj  Hotel room</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.5.jpeg" alt="Random second slide">
      <div class="carousel-caption">
        <p>This is chennai Taj  Hotel room</p>
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.3.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <p>This is chennai Taj  Hotel room</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img  class="room" src="../assets/IMAGES/room1.4.jpeg" alt="Random fourth slide">
      <div class="carousel-caption">
         <p>This is chennai Taj  Hotel room</p>
      </div>
    </ng-template>
  </ngb-carousel>  
    </div>
</div>
<div>
    <ul class="flex-container"  >
        <div class="flex-item" >where
               <ul>
                   <li><a routerLink="">Chennai</a></li>
                   <li ><a routerLink="">Mumbai</a></li>
                   <li><a routerLink="">Hyderabad</a></li>
                   <li><a routerLink="">Bangaluru</a></li>
                </ul>
           </div>
        <div class="flex-item" >when
          
       </div>
    </ul>
    
   
    
</div>
