.walpaper{

    background-image: url(/assets/IMAGES/walpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content:"float_right";

}
.flex-container{
    display: flex;
    font-size:larger;
    padding: 100px;
    width:100%;
    justify-content: space-evenly; 
}

.first{
    flex-direction:column ;
    padding:10px;
    margin: bottom 7px;
    border:40px solid yellow;
    border-left-color: red;
    border-right-color: red;
    width: 500px;
   height: 500px;

}
.room{ 
   width: 300px;
    height: 300px;
}

.second {
   flex-direction: column;
    padding:10px;
    margin-bottom: 7px;
    border:40px solid pink;
    border-left-color: red;
    border-right-color: red;
    width:500px;
    height: 500px;
}
.third{
    flex-direction: column;
    padding:10px;
    margin-bottom: 7px;
    border:40px solid blue;
    border-left-color: red;
    border-right-color: red;
    width:500px;
    height: 500px;
}
.four{
    flex-direction: column;
    padding:10px;
    margin-bottom: 7px;
    border:40px solid green;
    border-left-color: red;
    border-right-color: red;
    width:500px;
    height: 500px;
}

