.row{
    padding: 20px;
    
 }
 .card img{
     width: 420px;
     height: 300px;
     margin-bottom: 35px;
     padding: 40px;
     margin-right: 40PX;
     transition: 0.3s ease-in-out;
 }
 .card img:hover{
     transition: 0.3s ease-in-out;
     transform: scale(1.1);
 }
