.heading{
    margin-top: 70px;
    margin-left: 50px;
}
.def{
    color: cadetblue;
}
.coupletitle{
    margin-left: 50px;
    margin-bottom: -3px;

}
.couple{
    margin-left: 50px;
    color: cadetblue;
}
.localtitle{
    margin-left: 50px;
    margin-bottom: -3px;
}
.local{
    margin-left: 50px;
    color: cadetblue;
}
.customer{
    margin-left: 50px;
}
.customertitle{
    margin-left: 50px;
}
.hotel{
    margin-left: 50px;
}
.hoteltitle{
    color: red;
}

.container{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.541);
    text-align: center;
    border: 2px solid black;
    border-radius: 15px 20px 30px;
    height: 300px;
    width:260px;
    margin-top: -440px;
    margin-right: 280px;

}
.reserve{
    margin-top: 20px;
    color:darkmagenta;
    border-radius: 20px ;
}

.parent{
    display: flex;
    margin-bottom: 10px;
}
.childone{
    margin-top: 40px;
    margin-left: 50px;
}
.childs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    width: 800px;
}
.childtwo{
    width:400px;
    height: 50%;
    padding: 10px;
  
}
.childthree{
    width:400px;
    height: 50%;
    padding: 10px;
  
}
.childfour{

    width:400px;
    height: 50%; 
    padding: 10px;
    
}
.childfive{
    width:400px;
    height: 50%;
    padding: 10px;
   
}