
<div class="walpaper">
<div class='flex-container'>

  <div class='first'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="room" src="assets/IMAGES/room1.1.jpeg" alt="Random first slide">
        <div class="carousel-caption">
          <p>This is chennai Taj Hotel room</p>
        </div>
      <div>
          <button (click)="chennais()">Check This</button>
       </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="room" src="assets/IMAGES/room1.5.jpeg" alt="Random second slide">
        <div class="carousel-caption">
          <p>This is chennai Taj Hotel room</p>
        </div>
      <div>
          <button (click)="chennais()">check this</button>
       </div>

      </ng-template>
      <ng-template ngbSlide>
        <img class="room" src="assets/IMAGES/room1.3.jpeg" alt="Random third slide">
        <div class="carousel-caption">
          <p>This is chennai Taj Hotel room</p>
        </div>
      <div>
          <button (click)="chennais()" >check this</button>
       </div>

      </ng-template>
      <ng-template ngbSlide>
        <img class="room" src="assets/IMAGES/room1.4.jpeg" alt="Random fourth slide">
        <div class="carousel-caption">
          <p>This is chennai Taj Hotel room</p>
        </div>
      <div>
          <button (click)="chennais()">check this</button>
       </div>
      </ng-template>

    </ngb-carousel>

  </div>
    <div class='second'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="room" src="assets/IMAGES/room8.jpeg" alt="Random first slide">
          <div class="carousel-caption">
            <p>This is Goa Taj Hotel room</p>
          </div>
        <div>
            <button (click)="goa()" >Check this</button>
         </div>

        </ng-template>
        <ng-template ngbSlide>
          <img class="room" src="assets/IMAGES/room9.jpeg" alt="Random second slide">
          <div class="carousel-caption">
            <p>This is Goa Taj Hotel room</p>
          </div>
        <div>
            <button (click)="goa()">Check this</button>
         </div>

        </ng-template>
        <ng-template ngbSlide>
          <img class="room" src="assets/IMAGES/room10.jpeg" alt="Random third slide">
          <div class="carousel-caption">
            <p>This is Goa Taj Hotel room</p>
          </div>
        <div>
            <button (click)="goa()">Check this</button>
         </div>

        </ng-template>
        <ng-template ngbSlide>
          <img class="room" src="assets/IMAGES/room1.3.jpeg" alt="Random fourth slide">
          <div class="carousel-caption">
            <p>This is Goa Taj Hotel room</p>
          </div>
        <div>
            <button (click)="goa()">Check this</button>
         </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class='third'>
      <ngb-carousel>
      <ng-template ngbSlide>
        <img class="room"  src="assets/IMAGES/hoom3.jpeg"  alt="Random first slide">
        <div class="carousel-caption">
          <p>This is Banguluru  Hotel room</p>
        </div>
      <div>
          <button (click)="banguluru()">Check this</button>
       </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="room"  src="assets/IMAGES/room5.jpeg" alt="Random second slide">
        <div class="carousel-caption">
          <p>This is Banguluru  Hotel room</p>
        </div>
      <div>
          <button (click)="banguluru()">Check this</button>
       </div>
      
      </ng-template>
      <ng-template ngbSlide>
        <img class="room"  src="assets/IMAGES/room6.jpeg" alt="Random third slide">
        <div class="carousel-caption">
          <p>This is Banguluru  Hotel elegant room</p>
        </div>
      <div>
          <button (click)="banguluru()">Check this</button>
       </div>
      </ng-template>
      <ng-template ngbSlide>
        <img  class="room" src="assets/IMAGES/room7.jpeg" alt="Random fourth slide">
        <div class="carousel-caption">
          <p>This is Banguluru  Hotel elegant room</p>
        </div>
      <div>
          <button (click)="banguluru()">Check this</button>
       </div>
      </ng-template>
    </ngb-carousel>  
      </div>

      <div class='four'>
        <ngb-carousel>
        <ng-template ngbSlide>
          <img class="room"  src="assets/IMAGES/room8.jpeg" alt="Random first slide">
          <div class="carousel-caption">
            <p>This is Jammu and Kashmir  Hotel room</p>
          </div>
        <div>
            <button (click)="jammu()" >Check this</button>
         </div>
      
        </ng-template>
        <ng-template ngbSlide>
          <img class="room"  src="../assets/IMAGES/room9.jpeg" alt="Random second slide">
          <div class="carousel-caption">
            <p>This is Jammu and Kashmir  Hotel room</p>
          </div>
        <div>
            <button (click)="jammu()">Check this</button>
         </div>
      
        
        </ng-template>
        <ng-template ngbSlide>
          <img class="room"  src="../assets/IMAGES/room10.jpeg" alt="Random third slide">
          <div class="carousel-caption">
            <p>This is Jammu and Kashmir  Hotel room</p>
          </div>
        <div>
            <button (click)="jammu()">Check this</button>
         </div>
      
      
        </ng-template>
        <ng-template ngbSlide>
          <img  class="room" src="../assets/IMAGES/room1.3.jpeg" alt="Random fourth slide">
          <div class="carousel-caption">
            <p>This is Jammu and Kashmir  Hotel room</p>
          </div>
        <div>
            <button (click)="jammu()">Check this</button>
         </div>
      
        </ng-template>
      </ngb-carousel>  
        </div>
    </div>
</div>


