<div class="move">
<button class="btn btn-primary" (click)="add()">ADD-PRODUCT</button>
<button class="btn btn-primary" (click)="userbooked()">USER-BOOKED-DETAILS</button>
<button (click)="gotoaddnewpage()" class="btn btn-primary">add new details</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th  scope="col">id</th>
      <th  scope="col">PRODUCTTITTLE</th>
      <th  scope="col">LOCATION</th>
      <th  scope="col">PRICE</th>
      <th  scope="col">IMAGE</th>
      <th  scope="col">FILE</th>
        </tr>
    
  </thead>
  <tbody>
    <TR *ngFor="let product of ProductList ;let i =index ">
      <td>{{i+1}}</td>
      <TD>{{product.ProductTittle}}</TD>
      <TD>{{product.Location}}</TD>
      <TD>{{product.Price}}</TD>
      <td>{{product.Image}}</td>
      <TD><img style="width:200px" src="/assets/IMAGES/{{product.file}}" alt="IMAGE"></TD>
     <td>    
        <button class="btn btn-info" (click)="edit()">EDIT-PRODUCT</button>
        <!-- <span style="display: inline-block;width:40px;margin-right: 20px;"></span> -->
        <button class="margin-right: 30px"   class="btn btn-danger mx-3" (click)="deletedata(product)">DELETE-PRODUCT</button>
      </td>
    </TR>
  </tbody>
</table>

