<ul class="navigation">

    <div style="flex-grow: 1">
      <img src="assets/IMAGES/logo.jpeg" />
    </div>
    <li class="one"  >
      <a routerLink="home-page">HOMEPAGE</a>
    </li>
    <li class="one" >
      <a routerLink="how-it-work">QUERY</a>
    </li>
    <li class="one" *ngIf="loggedin()"  (click)="BookDetailsNew()">HOTELS</li>
    <li class="one" *ngIf="adminloggedin()"><a routerLink="get-product">DATABASE</a></li>
    <LI class="one" *ngIf="!loggedin()|| adminloggedin()"><A routerLink="login-form">LOGIN</A></LI>
    <li class="one" *ngIf="loggedin()||onadminlogout()" id="logout"  (click)="onlogout()">
      <a routerLink="home-page">LOGOUT</a>
    </li>
    <li class="two" *ngIf="loggedin()">
      <div >
        <img
          routerLink="add-to-cart"
          src="assets/IMAGES/cartlogo.png"
          class="number" />
      </div>
   </li>
   <app-admin-navbar  *ngIf="adminloggedin()"  ></app-admin-navbar>
  </ul>

