.walpaper{
    background-color: antiquewhite;
    height: 500%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    font-size:larger;
    padding: 100px;
    width:fit-content;
    justify-content: space-evenly; 
}

.first{
    flex-direction:column ;
    padding:10px;
    border:40px solid gray;
    border-left-color: black;
    border-right-color: black;
    width: 400px;
    height: 400px;
    
  

}
.room{ 
   width: 300px;
    height: 300px;
}

.second {
   flex-direction: column;
    padding:10px;
    border:40px solid pink;
    border-left-color: red;
    border-right-color: red;
    width:400px;
    height: 400px;
}
.third{
    flex-direction: column;
    padding:10px;
    border:40px solid gray;
    border-left-color: black;
    border-right-color:black;
    width:400px;
    height: 400px;
}
.four{
    flex-direction: column;
    padding:10px;
    border:40px solid pink;
    border-left-color: red;
    border-right-color: red;
    width:400px;
    height: 400px;
}

