<h1 style="text-align:center;"> Login Form</h1>
<div align="left" class="container mb-3">
    <form #login="ngForm" (ngSubmit)="submit(login)">
        <div class="form-group">
            <label for="fname">First Name </label>
            <input required itype="text" name="fname" class="form-control" ngModel>

            <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger">invalid
                <p *ngIf="name.errors ?.['minlength']"> very short name minimum leter required is 4  </p>
                 <p *ngIf="name.errors ?.['maxlength']">Sorry! Very Big Username This Is</p>
            </div> -->

        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">PASSWORD</label>
            <input type="text" #name="ngModel" name="password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{4,}$" class="form-control"
                ngModel>

            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">invalid

                <p *ngIf="name.errors ?.['pattern']"> use small case , uppercase and one special character to fill </p>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="email">Email </label>
            <input type="email" name="email" required class="form-control" ngModel>
        </div>
        <button [disabled]="login.invalid" class="btn btn-danger" type="submit"> Submit</button>
        
    </form>

</div>