.loginform{
    color: blue;
    padding: 10px;
    border: 10px solid black;
    text-shadow: 4px 3px 4px greenyellow;
    font-size: 20px;
    width: 500px;
    height: 400px;
   margin-left:700px;
   margin-top: 50px;   
}
h1{
    text-align: center;
    margin-top: 80px;
    font-size: 100px;
    font-style: italic;
     line-height: 0;
    letter-spacing: 9px;
    text-shadow: 4px 3px 4px greenyellow;
    margin-left: 130px;
  
}
.wall{
    background-color:cornsilk;
    padding: 80px;
}