<div class='container-fluid'>

    <div class='col-12'>
    <ngb-carousel>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.1.jpeg" alt="Random first slide">
      <div class="carousel-caption">
       
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.5.jpeg" alt="Random second slide">
      <div class="carousel-caption">
        
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="room"  src="../assets/IMAGES/room1.3.jpeg" alt="Random third slide">
      <div class="carousel-caption">
       
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img  class="room" src="../assets/IMAGES/room1.4.jpeg" alt="Random fourth slide">
      <div class="carousel-caption">
       
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
    </div>
</div>

<div class="grid grid-cols-3 gap-9 mt-8">
    <span class="flex items-center space-x-6">
        <img class="parking" src="assets/IMAGES/parking.png" >
        <p class="paraParking" >CAR PARKING</p>
    </span>
</div>

   

