<div class="parent">
    <div class="child">
        <img class="childimgone" src="assets/IMAGES/banguluru1.jpg">
        <div class="sub-child">
             <div><img class="childimgone1" src="assets/IMAGES/banguluru1.jpg"></div>
             <div> <img class="childimgone2" src="assets/IMAGES/banguluru3.jpg"></div>
             <div> <img class="childimgone3" src="assets/IMAGES/banguluru4.jpg"></div>
             <div><img class="childimgone4" src="assets/IMAGES/banguluru5.jpg"></div>
        </div>
   
    <div class="chennaioneDetailparent">
        <h1>Radha Hometel A Sarovar Hotel</h1>
        <p class="location">Karamangala Location</p>
       <div>
          <p class="para">Couple friendly , &nbsp; local Id Accepted</p>
        </div>
           <div>Amenities services we provide<br>
              <img class="parking"  src="assets/IMAGES/parking (1).png">
              <div class="ac"><img src="assets/IMAGES/ac.png"></div>
              <div><img class="water" src="assets/IMAGES/water.png"></div>
              <div><img class="foods" src="assets/IMAGES/foods.png"></div>
           </div> 
              <div>
                <button class="price">RS-5500 </button> &nbsp;
                <button class="booking" (click)="login()">BOOK NOW</button>
            </div>
        </div>
    </div>   
</div>
