
<ng-container >
<div class="wall">
   
    <div class="loginform">
        <h1> Login </h1>
        <div align="left" class="container mb-3">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
               
                <div class="form-group">
                    <label for="password">Password</label>
                    <input  id="password" type="text" formControlName="password" name="password" class="form-control" [(ngModel)]="password" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{4,}$" >
                      <div>

                    <p *ngIf="loginForm.touched && loginForm.invalid"  class="alert alert-danger">invalid pattern required use small case , uppercase and one special character to</p>
                        <p *ngIf="loginForm.errors ?.['pattern']"> </p>
                  </div>
                </div>
                <pre></pre>
                <div class="form-group">
                    <label for="email">Email </label>
                    <input  id="email" formControlName="email" type="email" name="email" [(ngModel)]="email"  class="form-control" required >
                </div><br>
                <button [disabled]="loginForm.invalid" (click)="submit()" class="btn btn-danger"  type="submit" id="button"> Submit</button>
                    <span style="display: inline-block;width:200px"></span>
                <button class="btn btn-danger"  id="buttononsubmit" (click)="onsubmit()">NewUserRegister</button>
            </form>
        </div>
    </div>
</div>
</ng-container>


