<ul class="navigation">
  <div style="flex-grow: 1;">
   <img src="assets/IMAGES/logo.jpeg" >
   </div>
   <li class="one"><a routerLink="home-page" >HomePage</a></li>
   <li class="one"><a routerLink="booking-page">Book-Here</a></li>
   <li class="one"><a>Help & Support</a></li>
   <li class="one"><a routerLink="confirm-page">confirmpage</a></li>
   <li class="one dropdown">Login.
   <ul class="dropdown-content" >
   <li class="dropdown"><a   routerLink="login-form">User-Login</a></li>
   <li class="dropdown"><a   routerLink="add-product">Admin</a></li>
   <li class="dropdown"><a   routerLink="http-client">USER DETAIL</a></li>
  </ul>
</li>
</ul>
<router-outlet></router-outlet>
