<ul class="navigation">
  <div style="flex-grow: 1;">
     <img src="assets/IMAGES/logo.jpeg" >
  </div>
   <li class="one"><a routerLink="home-page" >HOMEPAGE</a></li>
   <li class="one" (click)="BOOKPAGE()"><a routerLink="booking-page">CHECK ROOMS</a></li>
   <li class="one"><a>Help & Support</a></li>
   <li class="one" (click)="onLoginClick()"> Login</li>
   <li class="one" (click)="onLogoutClick()">Logout</li>
   <li class="one"><a routerLink="get-product">Admin-DataBase</a></li>

   <!-- <li class="one dropdown">admin-Login.
     <ul class="dropdown-content" >
       <li class="dropdown"><a style="color:black"  routerLink="add-product">AddProduct</a></li>
       <li class="dropdown"><a style="color:black"   routerLink="get-product">getProduct</a></li>
       <li class="dropdown"><a   routerLink="http-client">USER DETAIL</a></li>
     </ul>
   </li> -->

</ul>
<router-outlet></router-outlet>
