<ul class="navigation">
  <div style="flex-grow: 1">
    <img (click)="adminpage()" src="assets/IMAGES/logo.jpeg" />
    <p *ngIf="showme" routerLink="get-product">admin-page</p>
  </div>
  <li class="one" (click)="Homepage()">
    <a>HOMEPAGE</a>
  </li>
  <li class="one" (click)="helppage()">
    <a routerLink="how-it-work">Help & Support</a>
  </li>
  <li class="one" *ngIf="isLoggedInside$ | async as isLoggedInside "  (click)="logoutClick()">
    <a routerLink="home-page">LOGOUT</a>
  </li>
  <li class="two">
    <div>
      <img
        routerLink="add-to-cart"
        src="assets/IMAGES/cartlogo.png"
        class="number"/>
    </div>
  </li>
  {{
    totalitem
  }}
</ul>
<h1 style="text-align: center; color: blue">WELCOME TO ROOMSTAY.COM</h1>

<router-outlet></router-outlet>

