<div class="parent">
    <div class="child">
        <img class="childimgone" src="assets/IMAGES/goa2.jpg">
        <div class="sub-child">
             <div><img class="childimgone1" src="assets/IMAGES/home2.jpeg"></div>
             <div> <img class="childimgone2" src="assets/IMAGES/goa2.jpg"></div>
             <div> <img class="childimgone3" src="assets/IMAGES/goa3.jpg"></div>
             <div><img class="childimgone4" src="assets/IMAGES/goa4.jpg"></div>
        </div>
   
    <div class="chennaioneDetailparent">
        <h1>Aulakhs The Great Ocean View</h1>
        <p class="location">Mandnam Location</p>
       <div>
          <p class="para">Couple friendly , &nbsp; local Id Accepted ,&nbsp; Pay At Hotel</p>
        </div>
           <div>Amenities services we provide<br>
              <img class="parking"  src="assets/IMAGES/parking (1).png">
              <div class="ac"><img src="assets/IMAGES/ac.png"></div>
              <div><img class="water" src="assets/IMAGES/water.png"></div>
              <div><img class="foods" src="assets/IMAGES/foods.png"></div>
           </div> 
              <div>
                <button class="price">RS-2500 </button> &nbsp;
                <button class="booking" (click)="goaconfirmpage()">BOOK NOW</button>
            </div>
        </div>
    </div>   
</div>
