<div class="parent">
    <ng-container *ngFor="let item of productList">
        <div class="child">
            <img class="childimgone" src="{{item.Image}}" alt="image">
            <div class="sub-child">
                 <div><img class="childimgone1" src="{{item.Image}}"></div>
                 <div><img class="childimgone1" src="{{item.Image}}"></div>
                 <div><img class="childimgone1" src="{{item.Image}}"></div>
                 <div><img class="childimgone1" src="{{item.Image}}"></div>
             </div>
             <div class="chennaioneDetailParent">
                <h1>{{item.ProductTittle}}</h1>
                <p class="location">{{item.Location}}</p>
                <div>
                    <p class="para">Couple Friendly , &nbsp; local id Accepted</p>
                </div>
                <div>Amenities services we provide<br>
                    <img class="parking"  src="assets/IMAGES/parking (1).png">
                    <div class="ac"><img src="assets/IMAGES/ac.png"></div>
                    <div><img class="water" src="assets/IMAGES/water.png"></div>
                    <div><img class="foods" src="assets/IMAGES/foods.png"></div>
                 </div> 
                    <div>
                     
                      <button class="btn btn-primary" (click)="banguluruconfirm1()">BOOK NOW</button>
                      <span style="display:inline-block;width:30px"></span>
                    <button class="btn btn-primary" (click)="addProduct(item)">add to cart</button>
                  </div>
              </div>
             </div>
            </ng-container>
         </div>
