<div class="wall">
  <div class="loginform">
    <form>
      <label>CHOOSE LOCATION</label>
      <select  >
        <option (click)="changed(c)" *ngFor="let c of locations"  [ngValue]='c.name'>{{c.name}} </option>
        
      </select>

      <pre></pre>
      <label for="ProductTitle">Tittle</label><br />
      <input
        type="text"
        name="productTitle"
        placeholder="ProductTittle"
        [(ngModel)]="roomdetails.tittle" />
      <pre></pre>

      <label for="Location">Location</label><br />
      <input
        type="text"
        name="location"
        placeholder="Location"
        [(ngModel)]="roomdetails.location"/>
      <pre></pre>

      <label for="Price">Price</label><br />
      <input
        type="text"
        name="price"
        placeholder="Price"
        [(ngModel)]="roomdetails.price"/>
      <PRE></PRE>

      <input type="file" (change)="getFile($event)" /><br />
      <pre></pre>

      <button
        class="btn btn-primary"
        (click)="adding(roomdetails)"
        type="button"
        value="Upload file" >
        ADD-PRODUCT
      </button>
      <span style="display: inline-block; width: 40px"></span>
      <button class="btn btn-primary" (click)="putting()">
        Updating Product
      </button>
      <span style="display: inline-block; width: 40px"></span><br /><br />
      <button class="btn btn-primary" (click)="checkpage()">checkpage</button>
    </form>
  </div>
</div>
