<div>
    <div>
        <form>
            <label for="ProductTitle">ProductTitle</label>
            <input type="text" name="productTitle" placeholder="ProductTittle" [(ngModel)]="ProductTitle">
            <pre></pre>

            <label for="Location">Location</label>
            <input type="text" name="location" placeholder="Location" [(ngModel)]="Location">
            <pre></pre>

            <label for="Price">Price</label>
            <input type="text" name="price" placeholder="Price" [(ngModel)]="Price">
            <PRE></PRE>

            <label for="Image">Image</label>
            <input type="text"  name="image" (change)="getName(name.value)" [(ngModel)]="Image" #name /><br>
            <pre></pre>
            <input type="file" (change)="getFile($event)" /><br>
            <pre></pre>
            <button (click)="submitData()" type="button" value="Upload file" (click)="addProduct()">ADD-PRODUCT</button> 
            <button (click)=" UpdateProduct(1)">Updating Product id(2) </button>
        </form>
    </div>
</div>
