<div class="parent">
    <div class="child">
        <img class="childimgone" src="assets/IMAGES/banguluru1.jpg">
        <div class="sub-child">
             <div><img class="childimgone1" src="assets/IMAGES/banguluru1.jpg"></div>
             <div> <img class="childimgone2" src="assets/IMAGES/banguluru3.jpg"></div>
             <div> <img class="childimgone3" src="assets/IMAGES/banguluru4.jpg"></div>
             <div><img class="childimgone4" src="assets/IMAGES/banguluru5.jpg"></div>
        </div>
   
    <div class="chennaioneDetailparent">
        <h1>Radha Hometel A Sarovar Hotel</h1>
        <p class="location">Karamangala Location</p>
       <div>
          <p class="para">Couple friendly , &nbsp; local Id Accepted</p>
        </div>
           <div>Amenities services we provide<br>
              <img class="parking"  src="assets/IMAGES/parking (1).png">
              <div class="ac"><img src="assets/IMAGES/ac.png"></div>
              <div><img class="water" src="assets/IMAGES/water.png"></div>
              <div><img class="foods" src="assets/IMAGES/foods.png"></div>
           </div> 
              <div>
               
                <button class="btn btn-primary" (click)="banguluruconfirm1()">BOOK NOW</button>
                <span style="display:inline-block;width:30px"></span>
              <button class="btn btn-primary" (click)="addProduct()">add to cart</button>
            </div>
        </div>
    </div>   
</div>
<pre></pre>



<div class="parent">
    <div class="child">
        <img class="childimgone" src="assets/IMAGES/banguluru2.1.jpg">
        <div class="sub-child">
             <div><img class="childimgone1" src="assets/IMAGES/banguluru2.2.jpg"></div>
             <div> <img class="childimgone2" src="assets/IMAGES/banguluru2.3.jpg"></div>
             <div> <img class="childimgone3" src="assets/IMAGES/banguluru2.4.jpg"></div>
             <div><img class="childimgone4" src="assets/IMAGES/banguluru2.5.jpg"></div>
        </div>
   
    <div class="chennaioneDetailparent">
        <h1>Radha Hometel A Sarovar Hotel</h1>
        <p class="location">Karamangala Location</p>
       <div>
          <p class="para">Couple friendly , &nbsp; local Id Accepted</p>
        </div>
           <div>Amenities services we provide<br>
              <img class="parking"  src="assets/IMAGES/parking (1).png">
              <div class="ac"><img src="assets/IMAGES/ac.png"></div>
              <div><img class="water" src="assets/IMAGES/water.png"></div>
              <div><img class="foods" src="assets/IMAGES/foods.png"></div>
           </div> 
              <div>
                <button class="btn btn-primary" (click)="banguluruconfirm2()">BOOK NOW</button>
                <span style="display:inline-block;width:30px"></span>
                <button class="btn btn-primary" (click)="addProduct()">Add to cart</button>
            </div>
        </div>
    </div>   
</div>
